<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/sunny/jquery-ui-1.8.15.custom.css")" rel="Stylesheet" type="text/css" media="screen" />
    <link href="@Url.Content("~/Content/ui.jqgrid.css")" rel="Stylesheet" type="text/css" media="screen" />
    <link href="@Url.Content("~/Content/chosen/chosen.css")" rel="Stylesheet" type="text/css" media="screen" />
    <script src="@Url.Content("~/Scripts/jquery-1.6.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.15.custom.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/i18n/grid.locale-en.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.jqgrid.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/chosen.jquery.min.js")" type="text/ecmascript"></script>
</head>

<body>
    <div class="page">

        <div id="header">
            <div id="title">
                <h1>My MVC Application</h1>
            </div>

            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>

            <div id="menucontainer">

                <ul id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>

            </div>
        </div>

        <div id="main">
            @RenderBody()
            <div id="footer">
            </div>
        </div>
    </div>
    <div pub-key="pub-a99d5e7a-2fbd-4e6c-9f30-34c14e5f0342" sub-key="sub-83e07a26-c1f2-11e0-beb7-397ffc2d6015" ssl="off" origin="pubsub.pubnub.com" id="pubnub"></div>
    <script type="text/javascript" src="http://cdn.pubnub.com/pubnub-3.1.min.js"></script>
</body>
</html>
